<!-- Results Container -->
{{!-- <div class="row">
        <div class="container" id="results-container">
            <div class="card">
                <div class="card-body">
                
                    <div class="col-md-12 blog-container display-4 font-bold">
                    </div>
                    <div class="col-md-12 blog-container2 display-6">
                    </div>
                    <div class="col-md-12 blog-container3 display-6">
                    </div>
                    <div class="col-md-12 blog-container4 display-6">
                    </div>
                </div>
            </div>
        </div>
    </div> --}}
<div class="container" id="results-container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <h1>Hello World</h1>
            <div id="dbPosts">

                {{#each Post}}
                <hr>
                <div class="card">
                    <div class="card-body">
                        <h3> {{this.name}}</h3>
                        <a href="{{this.url}}">{{this.url}}</a>
                        <p>{{this.ingredients}}</p>
                        <p>{{this.instructions}}</p>

                        <button data-id={{@index}} class="btn btn-warning save-article"
                            style="padding: 5px 10px; float:right">Save</button>
                    </div>
                </div>
                <hr>

                {{else}}
                <h3>no recipes avaiable</h3>

                {{/each}}

            </div>

        </div>
    </div>
</div>