<!-- Navigation -->
<div id="section1">

    <nav class="navbar navbar-expand-sm fixed-top navbar-dark" id="mainNav">
        <div class="container">

            <!-- LOGO -->
            <!-- <a class="navbar-brand js-scroll-trigger text-expanded" href="#page-top">Meal Maker</a> -->

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link js-scroll-trigger" href="/">Home</a>
                    </li>
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link js-scroll-trigger" href="/signup">Sign up</a>
                    </li>
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link" data-toggle="modal" href="#portfolioModal3">Add a Recipe</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
    </div>

    <div class="section">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8">
                <div class="container" id="search-container">
                    <h1 class="welcome">Welcome</h1>
                    <br>
                </div>
                <div class="row mt-4 mr-4 justify-conent-center">
                    <div class="col-9">

                        <section id="search" class="search-wrap">

                            <form action="/api/guest" class="search-form float-right mr-4">
                                <h2 id="search-title">Search Recipes</h2>
                                <i class="fas fa-search"></i>
                                <input type="search" name="term" placeholder="recipes">
                                <input type="submit" value="Search">
                            </form>
                        </section>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Results Container -->
<section id="section4">

    {{#each search}}
    <div class="container">
        <div class="row">
            <div class="col">
                <br>
                <div class="card" id="results-card">
                    <div class="card-body">

                        <h3>{{name}}</h3>

                        <a href={{url}}>{{url}}</a>
                        <br>
                        <p>{{ingredients}}</p>
                        <p>{{instructions}}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <br>
            <p class="text-white mr-5">No recipes found</p>
        </div>
    </div>
    {{/each}}

</section>

<!-- Add a Recipe Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">

                <!--Add a Recipe modal -->
                <section>
                    <div class="row">
                        <div class="col">
                            <div class="form-wrap" id="add-form">

                                {{#each errors}}
                                <div class="error">
                                    <p>{{text}}</p>
                                </div>
                                {{/each}}
                                <br>
                                <div class="card" id="modal-form">
                                    <div class="card-body">
                                        <h5 class="card-title text-center ml-5">Add a Recipe</h5>
                                        <form action="/api/guest" method="POST">
                                            <div class="input-group justify-content-center ml-3">
                                                <label class="font-weight-bold" for="name">Title: </label>
                                                <input type="text" name="name" id="name" class="input-box ml-3"
                                                    placeholder="" maxlength="100" value={{name}}>
                                            </div>
                                            <hr>
                                            <div class="input-group justify-content-center ml-4">
                                                <label class="font-weight-bold" for="url">Url:</label>
                                                <input type="text" name="url" id="url" class="input-box ml-3"
                                                    placeholder="" maxlength="100" value={{url}}>
                                            </div>
                                            <hr>
                                            <div class="input-group justify-content-center">
                                                <label class="font-weight-bold" for="ingredients">Ingredients: </label>
                                                <textarea name="ingredients" id="ingredients" class="input-box ml-3"
                                                    placeholder="" rows="10">{{ingredients}}</textarea>
                                            </div>
                                            <hr>
                                            <div class="input-group justify-content-center">
                                                <label class="font-weight-bold" for="instructions">Instructions:
                                                </label>
                                                <textarea name="instructions" id="instructions" class="input-box ml-3"
                                                    placeholder="" rows="10">{{instructions}}</textarea>
                                            </div>
                                            <br>
                                            <input class="font-weight-bold" type="submit" value="Add Recipe"
                                                class="btn btn-reverse" id="add-btn">
                                        </form>
                                        {{!-- <button class="btn btn-danger" data-dismiss="modal"
                                            type="button">
                                            <i class="fas fa-times"></i>
                                            Close</button> --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>