<!-- Navigation -->
<div id="memberpg">
    <nav class="navbar navbar-expand-sm  navbar-light" id="mainNav">
        <div class="container">

            <!-- LOGO -->
            <!-- <a class="navbar-brand js-scroll-trigger text-expanded" href="#page-top">Meal Prepper</a> -->

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link js-scroll-trigger text-black" href="/search">Search Recipes</a>
                    </li>
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link js-scroll-trigger" id="logOutLink" href="/logout">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>
    <div class="row">
        <div class="col-12">
            <h1 class="text-center"><strong>Welcome</strong></h1>
        </div>
    </div>

    <section id="add" class="container">
        <div class="form-wrap">
            {{!-- <h1>Add A Recipe</h1> --}}

            {{#each errors}}
            <div class="error">
                <p>{{text}}</p>
            </div>
            {{/each}}
            <div class="card flex-row">
                <div class="card-body">
                    <h5 class="card-title text-center">Add a Recipe</h5>
                    <form action="/members" method="POST">
                        <div class="input-group">
                            <label class="font-weight-bold" for="name">Title: </label>
                            <input type="text" name="name" id="name" class="input-box" placeholder="recipe title"
                                maxlength="100" value={{name}}>
                        </div>
                         <hr>
                        <div class="input-group">
                            <label class="font-weight-bold" for="url">Url:</label>
                            <input type="text" name="url" id="url" class="input-box" placeholder="recipe url"
                                maxlength="100" value={{url}}>
                        </div>
                         <hr>
                        <div class="input-group">
                            <label class="font-weight-bold" for="ingredients">Ingredients: </label>
                            <textarea name="ingredients" id="ingredients" class="input-box" placeholder="ingredients"
                                rows="10">{{ingredients}}</textarea>
                        </div>
                         <hr>
                        <div class="input-group">
                            <label class="font-weight-bold" for="instructions">Instructions: </label>
                            <textarea name="instructions" id="instructions" class="input-box" placeholder="instructions"
                                rows="10">{{instructions}}</textarea>
                        </div>

                        <input class="font-weight-bold" type="submit" value="Add Recipe" class="btn btn-reverse">
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Results Container -->
    <section id="posts" class="container">
        <h1>Your Favorite Recipes</h1>

        {{#each posts}}
        <div class="posts">
            <h3>{{name}}</h3>
            <p>{{url}}</p>
            <p>{{ingredients}}</p>
            <p>{{instructions}}</p>

        </div>
        {{else}}
        <p>You don't have any saved favorites</p>
        {{/each}}

    </section>

</div>